@font-face {
  font-family: "source";
  src: url("../font/SourceSansPro/SourceSansPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source-code";
  src: url("../font/SourceSansPro/SourceCodePro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  overflow: hidden;
  height: 100%;
  font-family: "source", Helvetica, sans-serif;
  background: #303840; /* Old browsers */
  background: -moz-linear-gradient(135deg,  #303840 0%, #0a1d26 100%); /* FF3.6+ */
  background: -webkit-gradient(linear,top left,bottom right, color-stop(0%,#303840), color-stop(100%,#0a1d26)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(135deg,  #303840 0%,#0a1d26 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(135deg,  #303840 0%,#0a1d26 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(135deg,  #303840 0%,#0a1d26 100%); /* IE10+ */
  background: linear-gradient(135deg,  #303840 0%,#0a1d26 100%); /* W3C */
}
body:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
  background: center top url('../img/firstcivilpattern-overlay.png');
  opacity: 0.05;
}

a{
  color: #cde;
}

img.pull-left {
  margin-right: 12px;
}

img.pull-right {
  margin-left: 12px;
}

a:hover,
a:focus {
  color: #def;
  text-decoration: underline;
}

.btn {
  color: #eee;
  border-color: transparent;
  background: #456;
  text-shadow: 0 1px 1px rgba(32, 48, 64, 0.5);
  font-size: 16px;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.btn:hover {
  color: #fff;
  background: #567;
}

.btn.btn-primary {
  background: #345373;
}

.btn.btn-primary:hover {
  background: #23588c
}

body > header{
  background: rgba(16,24,32,.4);
  border-bottom: 2px solid rgba(32,48,64,.4);
  margin-bottom: 20px;
}

.container {
  width: 3200px;
  -webkit-transition: margin-left 0.2s ease;
  -moz-transition: margin-left 0.2s ease;
  -o-transition: margin-left 0.2s ease;
  transition: margin-left 0.2s ease;
}

.container.default {
  margin-left: 200px !important;
}

.logo-container,
body > header,
.title-logo{
  text-align: center;
}

.title-logo{
  display: inline-block;
  width: 240px;
  height: 240px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  background: url('../img/pyramid-medium-wlogo.png') top center no-repeat;
  background-position: 20px 20px;
  -webkit-transition: background-position 0.2s ease;
  -moz-transition: background-position 0.2s ease;
  -o-transition: background-position 0.2s ease;
  transition: background-position 0.2s ease;
}
.title-logo > img {
  margin-top: 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/*.title-logo:hover {
  background-position: 20px -180px;
}*/
.title-logo:hover > img {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
body > header .title-link{
  position: relative;
  display: inline-block;
  font-size: 30px;
  line-height: 36px;
  width: 200px;
  vertical-align: bottom;
  margin-bottom: 30px;
  color: #ccc;
  color: rgba(255,255,255,.80);
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
body > header .title-link:hover{
  color: #fff;
  text-decoration: none;
}
body > header .title-link:before{
  content: '';
  display: inline-block;
  margin-bottom: -2px;
  margin-right: 8px;
  height: 25px;
  width: 7px;
  background: no-repeat url('../img/bracket-left-small.png');
}
body > header .title-link:after{
  content: '';
  display: inline-block;
  margin-bottom: -2px;
  margin-left: 8px;
  height: 25px;
  width: 7px;
  background: no-repeat url('../img/bracket-right-small.png');
}

.seq-group {
  float: left;
  margin-right: 16px;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.seq-group,
.seq-group-body {
  position: relative;
  display: inline-block;
}

.seq-group.active,
.seq-group.zoomed {
  opacity: 1;
}

.seq-group .seq-grouptitle{
  position: relative;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 8px;
  display: inline-block;
  background-color: #333;
  background-color: rgba(80,96,112,.8);
  padding: 6px 10px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  opacity: 0.4;
  -webkit-transition: opacity,font-size 0.2s ease;
  -moz-transition: opacity,font-size 0.2s ease;
  -o-transition: opacity,font-size 0.2s ease;
  transition: opacity,font-size 0.2s ease;
}

.seq-indicator {
  position: relative;
  display: inline-block;
  height: 240px;
  width: 40px;
  background: top left no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOFJREFUeNrU2dENgzAMBNCoE3SUbsxIHSlFiKpqSoLtnOmdpfzwkycQxjlKAVatdVnXc133wlY77l1cyAbHhWxwCxWyxe3XOO7kEa4DvB7Zww2A1yFHuBNgPvIMZwDmIS04IxCPtOIcQBzSg3MC55FeXAAYR0ZwQaAfGcVNAO3IGdwkcEOm4gDA/r4IHAj4uz8KBwR+HEgcGLh5boW7HsyP+LvtkL0kxz2RpM2MG/a/G3X61yQdJzEsSIxbEgOrxMgvcWiSOHZKHNwlog+J8EgifpMIMCUiYIkQPfM3xEuAAQCNF7zVwR83CAAAAABJRU5ErkJggg==');
}
.seq-indicator:after {
  content: '';
  display: block;
  position: absolute;
  top: 38px;
  left: 19px;
  right: 19px;
  width: 2px;
  height: 200px;
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.seq-group.active .seq-grouptitle {
  font-size: 22px;
  opacity: 0.9;
}
.seq-group.active .seq-grouptitle:hover,
.seq-group.active .seq-indicator {
  opacity: 1;
}

.seq-group.active .seq-indicator:after,
.seq-group.zoomed .seq-indicator:after {
  height: 320px;
}

.seq-group-list {
  position: relative;
  margin: 20px 0 8px 10px;
}

.seq-group-list > li {
  float: left;
  display: inline-block;
}

.sequence {
  position: relative;
  margin: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


.sequence > ul {
  margin: 0;
  float: left;
}

.sequence:hover .seq-node{
  background: #506070;
}

.sequence.active,
.sequence.zoomed {
  margin-left: 20px;
  margin-right: 20px;
}

.sequence:first-child {
  margin-left: 0;
}

.sequence.active:before, 
.sequence.zoomed .seq-node.active:before {
  content: '';
  position: absolute;
  left: -5px;
  margin-bottom: 4px;
  bottom: 100%;
  height: 320px;
  width: 50px;
  opacity: 0.75;
  z-index: -10;
  background: no-repeat url('../img/syncbracket-top-small.png');
}

.sequence.active:after,
.sequence.zoomed .seq-node.active:after {
  content: '';
  position: absolute;
  left: -5px;
  margin-top: 4px;
  top: 100%;
  height: 320px;
  width: 50px;
  opacity: 0.75;
  z-index: -10;
  background: no-repeat url('../img/syncbracket-bottom-small.png');
}

.sequence .sequence-caption {
  float: left;
  display: none;
  margin-left: 14px;
  margin-top: -80px;
  max-width: 600px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sequence-caption .sequence-title {
  display: inline-block;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  padding: 0 12px;
  margin-bottom: 4px;
  background-color: #333;
  background-color: rgba(112,128,144,.9);
}
.sequence-caption .sequence-desc {
  font-size: 20px;
  line-height: 24px;
  padding: 0 12px;
  margin-bottom: 4px;
  background-color: #333;
  background-color: rgba(112,128,144,.9);
}
.sequence-caption .label {
  display: inline-block;
  padding: 0 6px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.sequence.active .sequence-caption,
.sequence.zoomed .sequence-caption {
  display: inline-block;
}
.sequence.zoomed .sequence-caption {
  opacity: .2;
}

.seq-node {
  display: block;
  position: relative;
  margin: 0;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  background: #434e59;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.seq-node:last-child {
  margin-bottom: 0 !important;
}

.seq-node.active:first-child {
  margin-top: 0px;
}

.seq-node.active {
  margin-top: 30px;
  margin-bottom: 30px !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.sequence.active .seq-node,
.sequence.zoomed .seq-node {
  width: 40px;
  margin-bottom: 4px;
  background: #678;
}

.sequence.zoomed .seq-node.active {
  height: 40px;
  background: #def;
}

.seq-node .seq-node-content {
  display: none;
  position: absolute;
  left: 100%;
  top: -100px;
  margin-left: 50px;
  padding: 20px;
  width: 600px;
  color: #fff;
  z-index: 30;
}
.seq-node .seq-node-content > header {
  position: relative;
}
.seq-node .seq-node-content > header:before {
  content: '';
  position: absolute;
  display: block;
  right: 0px;
  top: 0px;
  height: 16px;
  width: 16px;
  border-top: 2px solid rgba(182,212,242, .75);
  border-right: 2px solid rgba(182,212,242, .75);
}
.seq-node .seq-node-content > header:after {
  content: 'SSYS > ISN';
  position: absolute;
  display: block;
  font-size: 12px;
  line-height: 10px;
  right: 4px;
  bottom: 4px;
  color: rgba(182,212,242, .95);
  text-shadow: 0 1px 1px rgba(182,212,242, .75);
  opacity: 0.5;
}

.seq-node.active .seq-node-content {
  display: block;
}

.seq-node .seq-node-content .sequence-title {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  padding: 0 12px;
  margin-bottom: 4px;
  background-color: #333;
  background-color: rgba(112,128,144,.9);
}

.seq-node .seq-node-content .node-title {
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 12px;
  margin-bottom: 4px;
  background-color: #333;
  background-color: rgba(112,128,144,.9);
}

.seq-node .seq-node-content article {
  padding: 4px 12px;
  background:  rgba(64,80,96,.8);
  margin-bottom: 4px;
  border-top: 1px solid rgba(182,212,242, .75);
  border-bottom: 1px solid rgba(182,212,242, .75);
}

.seq-node .seq-node-content article > p:last-child {
  margin-bottom: 2px;
}

.seq-node .seq-node-content .label {
  background-color: #708090;
}

@media (min-width: 1800px) {
  .container.default {
    margin-left: 360px !important;
  }
}

@media (min-width: 1400px) and (max-width: 1799px){
  .container.default {
    margin-left: 240px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .container.default {
    margin-left: 120px !important;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .container.default {
    margin-left: 60px !important;
  }
}

@media (min-width: 900px) and (max-width: 999px) {
  .container.default {
    margin-left: 40px !important;
  }
}

@media (max-width: 899px) {
  .container.default {
    margin-left: 20px !important;
  }
}