<footer class="footer-links active">
  <span><a href="mailto:super-ops@ssiops.org"><i class="icon-envelope"></i></a></span>
  <span><img id="footer-sfei-logo" alt="SFEI LOGO" src="img/sfei-logo.svg"></span>
  <span><a href="https://github.com/akasfei"><i class="icon-github"></i></a></span>
</footer>

<footer class="key-hint-container">
  <div>KEYBOARD SHORTCUTS AVAILABLE</div>
  <div class="hint-node"><span><i class="icon-resize-vertical"></i> BROWSE</span></span> <span><i>BACKSPACE</i> - ZOOM OUT</span></div>
  <div class="hint-seq"><span><i class="icon-resize-horizontal"></i> BROWSE</span> <span><i>ENTER</i> - ZOOM IN</span> <span><i>BACKSPACE</i> - ZOOM OUT</span></div>
  <div class="hint-group active"><span><i>ENTER</i> - ZOOM IN</span></div>
</footer>